<section class="full-width-wrap white-bg" style="background-image: url('{{ img-src }}')">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 {{text-color}}">
				<h2 class="weight-thin text-center">{{ section-title }}</h2>
				<h5 class="weight-thin text-center">{{ sub-title }}</h5>
			</div>
		</div>
		{{#if paragraph}}
		<div class="row">
			<div class="col-md-6 col-sm-11 col-xs-12 {{text-color}}">
				<h4>{{ paragraph-heading }}</h4>
				<p>{{ paragraph.body }}</p>
			</div>
		</div>
		{{/if}}
	</div>
	<div class="selector-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-4" id="experience-logo1">
					<img class="center-block experience_logo" src="assets/images/sequence_logo.svg">
				</div>
				<div class="col-md-4" id="experience-logo2">
					<img class="center-block experience_logo" src="assets/images/opower_logo.svg">
				</div>
				<div class="col-md-4" id="experience-logo3">
					<img class="center-block experience_logo" src="assets/images/greenstart_logo.svg">
				</div>
			</div>
		</div>
		<div class="triangle-up"></div>
	</div>
	<div class="container text-white">
		<div class="row" id="experience-text1">
			<div class="col-md-6">
				<h3>{{ job1.heading }}</h3>
				<p>{{ job1.body }}</p>
			</div>
		</div>
		<div class="row" id="experience-text2">
			<div class="col-md-6">
				<h3>{{ job2.heading }}</h3>
				<p>{{ job2.body }}</p>
			</div>
		</div>
		<div class="row" id="experience-text3">
			<div class="col-md-6">
				<h3>{{ job3.heading }}</h3>
				<p>{{ job3.body }}</p>
			</div>
		</div>
	</div>
	<div class="gradient"></div>
</section>
