<section class="full-width-wrap white-bg no-padding">
	<div class="container">
		<div class="row margin-top-50" {{{ title-animation }}}>
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 {{text-color}}">
				<h2 class="text-center">{{ section-title }}</h2>
				<p class="text-center">{{ sub-title }}</p>
			</div>
		</div>
		{{#if paragraph}}
		<div class="row">
			<div class="col-md-6 col-sm-11 col-xs-12 {{text-color}}">
				<h4>{{ paragraph-heading }}</h4>
				<p>{{ paragraph.body }}</p>
			</div>
		</div>
		{{/if}}
	</div>
	<img class="img-responsive" src="{{ img-src }}">
	{{#if gradient}}
	<div class="gradient"></div>
	{{/if}}
</section>
