<section class="about-section" style="background-image: url('{{ img-src }}')">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 {{text-color}}">
				<h2 class="thin text-center">{{ section-title }}</h2>
				<h5 class="text-center">{{ sub-title }}</h5>
			</div>
		</div>
		{{#if paragraph}}
		<div class="row">
			<div class="col-md-6 col-sm-11 col-xs-12 {{text-color}}">
				<h4>{{ paragraph-heading }}</h4>
				<p>{{ paragraph.body }}</p>
			</div>
		</div>
		{{/if}}
	</div>
	{{#if gradient}}
	<div class="gradient"></div>
	{{/if}}
</section>
