<div class="container grid">
<div class="row">
<ul class="col-xs-12"> <!--This creates too much padding -->
	
	{{#each projects}}
		{{#if featured}}
		<li {{ bottom-fade-in }} >
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="card-medium">
					<div class="card-medium-img" style="background-image: url('{{ imgsrc }}')"></div>
					<div class="card-text">
						<h4 class="weight-medium">{{ title }}</h4>
						<h5 class="weight-light">{{ description }}</h5>
						<a><h5 class="weight-light ">{{ cta }}</h5></a>
					</div
				</div>
			</div>
		</li>	
		{{else}}
		<li {{ bottom-fade-in }} >
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-medium-img" style="background-image: url('{{ imgsrc }}')"></div>
					<div class="card-text">
						<h4 class="weight-medium">{{ title }}</h4>
						<h5 class="weight-light">{{ description }}</h5>
						<a><h5 class="weight-light ">{{ cta }}</h5></a>
					</div
				</div>
			</div>
		</li>
		{{/if}}
	{{/each}}

</ul>
</div>
</div>
