<div class="intro full-width-wrap {{ class }}">
	<div class="container">
		<div class="row">
			<div class="col-md-9 {{ text-color }}">
				<h3 class="weight-medium">{{ title }}</h3>
				<p class="weight-thin">{{ body1 }}</p>
				<p class="weight-thin">{{ body2 }}</p>
			</div>
		</div>
	</div>
</div>