<div class="container grid">
	<ul class="col-xs-12">
	
		<li class="col-xs-12">
			<div class="card-large" style="background-image: url('{{ imgsrc }}')">
			<div class="black-overlay"></div>
				<div class="col-md-8 col-md-offset-2 vertical-align">
					<h2 class="text-center text-white">{{ title }}</h2>
					<h5 class="text-center text-white">{{ description }}</h5>
					<div class="text-center"><button type="button" class="btn btn-primary">{{ cta }}</button></div>
				</div>
			</div>
		</li>
		
		<li class="col-md-8 col-sm-12 col-xs-12">
			<div class="card-medium">
				<img class="img-responsive card-medium-img" src="{{ second-imgsrc }}">
			</div>
		</li>
		
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project
			</div>
		</li>
		
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project</div>
		</li>
		
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project</div>
		</li>
		
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project</div
		></li>
	</ul>
</div>
