<div class="full-width-wrap">
	<div class="container">
		<h2 class="text-center weight-medium margin-bottom-40">{{ page-title }}</h2>
		<ul class="row grid">
			{{#each projects}}
				{{#if featured}}
				<li>
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="card-medium">
							<a class="link-container" href="{{link}}"><span></span></a>
							<div class="card-medium-img" style="background-image: url('{{ imgsrc }}')"></div>
							<div class="card-text">
								<h3>{{ title }}</h3>
								<p>{{ description }}</p>
								<a href="{{ link }}" class="btn btn-primary" role="button">{{ CTA }} <i class="fa fa-arrow-right"></i></a>
							</div
						</div>
					</div>
				</li>	
				{{else}}
				<li>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="card">
							<a class="link-container" href="{{link}}"><span></span></a>
							<div class="card-medium-img" style="background-image: url('{{ imgsrc }}')"></div>
							<div class="card-text">
								<h3>{{ title }}</h3>
								<p>{{ description }}</p>
								<a href="{{ link }}" class="btn btn-primary" role="button">{{ CTA }} <i class="fa fa-arrow-right"></i></a>
							</div
						</div>
					</div>
				</li>
				{{/if}}
			{{/each}}
		</ul>
	</div>
</div>
