<section class="research">
	<div class="full-width-wrap sky">
		<div class="container">
			<div class="margin-bottom-60 row">
				<div class="col-md-2 col-md-offset-2 research-icon">
					<img src="{{ icon-src }}">
				</div>
				<div class="col-md-8">
					<h3>{{ sub-heading }}</h3>
					<p>{{body}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12-md">
					<img class="center-block img-responsive" style="margin-bottom:-40px;" src="{{ img-src }}">
				</div>
			</div>
		</div>
	</div>
	<div class="full-width-wrap grass">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					{{#each button}}
					<img class="journey-button" id="{{name}}" src="assets/images/solar/journey_button.png">
					<h4>{{topic}}</h4>
					{{/each}}
				</div>
				<div class="col-md-10">
					{{#each button}}
					<div id="{{name}}" class="journey-content">
						<h3>{{title1}}</h3>
						<p>{{body1}}</p>
						<h3>{{title2}}</h3>
						<p>{{body2}}</p>
						<h3>{{title3}}</h3>
						<p>{{body3}}</p>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	<div>
</section>