<section class="research">
	<div class="full-width-wrap sky">
		<div class="container">
			<div class="margin-bottom-60 row">
				<div class="col-md-2 col-md-offset-2">
					<img src="{{ icon-src }}">
				</div>
				<div class="col-md-8">
					<h3>{{ sub-heading }}</h3>
					<p>{{body}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12-md">
					<img class="center-block img-responsive" style="margin-bottom:-40px;" src="{{ img-src }}">
				</div>
			</div>
		</div>
	</div>
	<div class="full-width-wrap grass">
		<img class="center-block" src="{{ placeholder }}">
	<div>
</section>