<section class="module image-side {{background}}">
	<div class="container">
		<div class="row margin-bottom-40">
			<div class="col-md-5">
				<h3>{{sub-heading}}</h3>
				<p>{{body}} </p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11 col-xs-offset-1 no-padding">
				<img class="center-block img-responsive" src="{{ img-src }}">
				<div class="xdarken"></div>
				{{#each item}}
				<div id="{{name}}_button" class="rollover-circle"><h3>+</h3></div>
				<img id="{{name}}_box" src="{{img-src}}">
				<div id="{{name}}_text" class="text-white annotate-text">
					<h4>{{title}}</h4>
					<p>{{body}}</p>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>