<section class="full-width-wrap" style="background-image: url('{{ imgsrc }}')">
	<div class="container text-white">
		<h4 class="text-center margin-bottom-40"> {{title}} </h4>
		<div class="col-lg-5">
			<div class="skill-container">
				<div class="skill-circle center-block">
					<img src="{{icon1}}" class="center-block vertical-align">
				</div>
			</div>
			<h3> {{col1-heading}} </h3>
			<p> {{col1-body}} </p>
			<button type="button" class="btn btn-default"> {{CTA}}</button>
		</div>
		<div class="col-lg-5 col-lg-offset-2">
			<div class="skill-container">
				<div class="skill-circle center-block">
					<img src="{{icon2}}" class="center-block vertical-align">
				</div>
			</div>
			<h3> {{col2-heading}} </h3>
			<p> {{col2-body}} </p>
			<button type="button" class="btn btn-default"> {{CTA}}</button>
		</div>
	</div>
</section>