<section class="full-width-wrap module" id="below" style="background-image: url('{{ imgsrc }}')">
	<div class="container text-white">
		<h2 class="text-center margin-bottom-40" {{{ title-animation }}}> {{title}} </h2>
		<h2 class="text-center plus" {{{ item-animation }}}>+</h2>

		<div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1 margin-bottom-60" {{{ item-animation }}}>
			<div class="skill-container">
				<div class="skill-circle center-block">
					<img src="{{icon1}}" class="center-block vertical-align">
				</div>
				{{#each ux-skill}}
					<div class="skill">
						<p class="caption text-center">{{this}}</p>
					</div>
				{{/each}}
			</div>
			<h3> {{col1-heading}} </h3>
			<p> {{col1-body}} </p>
			<a href="{{ link1 }}" class="btn btn-default" role="button">{{ CTA1 }} <i class="fa fa-arrow-right"></i></a>
		</div>

		<div class="col-md-5 col-md-offset-2 col-sm-10 col-sm-offset-1 margin-bottom-60" {{{ item-animation }}}>
			<div class="skill-container">
				<div class="skill-circle center-block">
					<img src="{{icon2}}" class="center-block vertical-align">
				</div>
				{{#each dev-skill}}
					<div class="skill">
						<p class="caption text-center">{{this}}</p>
					</div>
				{{/each}}
			</div>
			<h3> {{col2-heading}} </h3>
			<p> {{col2-body}} </p>
			<a href="{{ link2 }}" class="btn btn-default" role="button">{{ CTA2 }} <i class="fa fa-arrow-right"></i></a>
		</div>
	</div>
	<div class="more">
		<p class="text-center text-white">more about me</p>
		<div class="arrow-circle center">
			<img class="arrow-down center" src="assets/images/down_arrow.svg">
		</div>
	<div>
</section>